.logo {
    display: block; /* Ensure the logo is visible */
}
 .counter-item .count2 {
    font-size: 2rem;
    font-weight: bold;
}

.counter-item.animate .count2 {
    /* Customize animation effect if needed */
    transition: all 2s ease-out;
}
